# Comments, blank lines skipped. Lines may be continued with a trailing backslash
# Tests using t{ }t from the standard test suite
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/interpreter -q $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/symmetric_divide.fs
# $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/interpreter -q $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
