# -*- mode: sh; -*-

export EVALUATOR_FAMILY_NAME=forth-79
export PREAMBLE=$FORTHKIT/interpreters/preamble.m4
export EVALUATOR_PRIMITIVES=$FORTHKIT/interpreters/f79/primitives.m4
export COMPILED_WORDS=$FORTHKIT/interpreters/f79/compiled-words.m4

export BUNDLED_WORDS=" \
    $FORTHKIT/lib/f79/79-standard.fs \
    $FORTHKIT/lib/common/core/word.fs \
    $FORTHKIT/lib/common/core/bl.fs \
    $FORTHKIT/lib/common/core/space.fs \
    $FORTHKIT/lib/common/core/spaces.fs \
    $FORTHKIT/lib/common/core/char.fs \
    $FORTHKIT/lib/f79/find.fs \
    $FORTHKIT/lib/f79/tick.fs \
    $FORTHKIT/lib/f79/forget.fs \
    $FORTHKIT/lib/common/core/abort.fs \
    $FORTHKIT/lib/f79/bracket_compile.fs \
    $FORTHKIT/lib/f79/bracket_tick.fs \
    $FORTHKIT/lib/common/core/numeric_output.fs \
    $FORTHKIT/lib/common/core/number_tib.fs \
    $FORTHKIT/lib/common/core/query.fs \
    $FORTHKIT/lib/common/core/hold_digits.fs \
    $FORTHKIT/lib/common/core/tib.fs \
    $FORTHKIT/lib/common/core/question_mark.fs \
    $FORTHKIT/lib/common/block/block.fs \
    $FORTHKIT/lib/common/block/list.fs \
    $FORTHKIT/lib/common/block/load.fs "
