# -*- mode: sh; -*-

export ADDRESS_MODEL=virtual
export CONCURRENCY_MODEL=single
export EXECUTION_MODEL=computed-goto
export FAMILY=f79
export THREAD_MODEL=indirect

export CC=gcc
export ARCH=i386
export CELL_SIZE=4
export STAGE=checked
