# -*- mode: sh; -*-

export FK_ADDRESS_MODEL=virtual
export FK_CONCURRENCY=single
export FK_EXECUTION_MODEL=computed_goto
export FK_FAMILY=f79
export FK_THREAD_MODEL=indirect

export CC=gcc
export FK_ARCH=i386
export FK_CELL_SIZE=4
export FK_STAGE=checked
