# -*- mode: sh; -*-

# Sourcing this file will set up all environment variables required to
# generate and build an evaluator library and its interpreters.

if [[ -z $FORTHKIT ]]
then
    echo "FORTHKIT is unset." >&2

else
    $FORTHKIT/conf/check-gen-env.sh

    if [ $? == 0 ]
    then

        $FORTHKIT/conf/check-build-env.sh

        if [ $? == 0 ]
        then
            . $FORTHKIT/conf/arch/$ARCH.rc
            . $FORTHKIT/conf/arch/c$CELL_SIZE.rc
            . $FORTHKIT/conf/$FAMILY/base.rc
            . $FORTHKIT/conf/build/$STAGE.rc
        fi
    fi
fi

export ARCH_TAG=$($FORTHKIT/bin/arch-tag)
