# -*- mode: sh; -*-

# Sourcing this file will set up all environment variables required to
# generate the source for a specific evaluator variant.  Which variant
# is determined by the following environment variables:
#
# * `ADDRESS_MODEL`
# * `CONCURRENCY`
# * `EXECUTION_MODEL`
# * `FAMILY`
# * `THREAD_MODEL`


if [[ -z $FORTHKIT ]]
then
    echo "FORTHKIT is unset." >&2

else
    $FORTHKIT/conf/check-gen-env.sh

    if [ $? == 0 ]
    then
        . $FORTHKIT/conf/$FAMILY/base.rc
    fi
fi

export VARIANT_TAG=$($FORTHKIT/bin/variant-tag)
