# -*- mode: sh; -*-

# Sourcing this file will set up all environment variables required to
# generate and build an evaluator library and its interpreters.

$FORTHKIT/conf/check-gen-env.sh
$FORTHKIT/conf/check-build-env.sh

. $FORTHKIT/conf/arch/$FK_ARCH.rc
. $FORTHKIT/conf/arch/c$FK_CELL_SIZE.rc
. $FORTHKIT/conf/$FK_FAMILY/base.rc
. $FORTHKIT/conf/build/$FK_STAGE.rc
