# -*- mode: sh; -*-

# Sourcing this file will set up all environment variables required to
# generate the source for a specific evaluator variant.  Which variant
# is determined by the following environment variables:
#
# * `FK_ADDRESS_MODEL`
# * `FK_CONCURRENCY`
# * `FK_EXECUTION_MODEL`
# * `FK_FAMILY`
# * `FK_THREAD_MODEL`


if [[ -z $FORTHKIT ]]
then
    echo "FORTHKIT is unset." >&2

else
    $FORTHKIT/conf/check-gen-env.sh

    if [ $? == 0 ]
    then
        . $FORTHKIT/conf/$FK_FAMILY/base.rc
    fi
fi
