

# Comments, blank lines skipped. Lines may be continued with a trailing backslash
# Tests using t{ }t from the standard test suite
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/abs.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/and.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/begin_until.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/begin_while_repeat.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/c_comma_c_store_c_fetch.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/cmove.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/depth.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/divide.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/divide_mod.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/do_loop.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/drop.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/dup.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/fill.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/here_comma_store_fetch.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/j.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/leave.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/max.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/min.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/minus.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/move.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/not.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/one_minus.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/one_plus.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/or.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/over.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/plus.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/plus_store.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/query_dup.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/rot.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/swap.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/times.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/times_divide.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/to_r_r_fetch_r_from.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/two_minus.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/two_plus.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/xor.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/zero_gt.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/zero_lt.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/if_else_then.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/negate.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/lt.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/d_lt.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/dnegate.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/u_lt.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/u_times.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/u_div_mod.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/equal.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/d_plus.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/gt.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_division_by_zero $FORTHKIT/lib/test/common/core/times_divide_err_division_by_zero.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_result_out_of_range $FORTHKIT/lib/test/common/core/times_divide_err_result_out_of_range_negative.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_result_out_of_range $FORTHKIT/lib/test/common/core/times_divide_err_result_out_of_range_positive.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_division_by_zero $FORTHKIT/lib/test/common/core/times_divide_mod_err_division_by_zero.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_result_out_of_range $FORTHKIT/lib/test/common/core/times_divide_mod_err_result_out_of_range_negative.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_result_out_of_range $FORTHKIT/lib/test/common/core/times_divide_mod_err_result_out_of_range_positive.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/constant.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/mod.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/colon.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/variable.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/does.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/quote_execute.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/find.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/zero_eq.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/hold.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/sign.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/hold_digit.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/hold_digits.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/comments.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/dot_quote.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
# $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/core/.fs
