$FORTHKIT/scripts/check.sh ...  $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/braid_twist.fs
$FORTHKIT/scripts/check.sh .... $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/is_factive.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/end.fs
$FORTHKIT/scripts/check.sh '*.' $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/done.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/f_at.fs
$FORTHKIT/scripts/check.sh ..   $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/fiber.fs
$FORTHKIT/scripts/check.sh ...  $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/fip.fs
$FORTHKIT/scripts/check.sh ...  $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/frp_frp0.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/fr_from.fs
$FORTHKIT/scripts/check.sh .... $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/fsteps.fs
$FORTHKIT/scripts/check.sh ...  $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/fstop.fs
$FORTHKIT/scripts/check.sh ...  $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/ftask.fs
$FORTHKIT/scripts/check.sh ..   $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/is_primitive.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/lay.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/num_f.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/snip.fs
$FORTHKIT/scripts/check.sh ..   $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/start.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/task.fs
$FORTHKIT/scripts/check.sh .a   $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/tbase.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/tcontext.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/tcurrent.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/tdp.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/tinterpret.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/to_fr.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/to_t.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/tsp.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/tsp0.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/tstate.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/ttop.fs
$FORTHKIT/scripts/check.sh .    $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/fiber.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/t_from.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -81 $FORTHKIT/lib/test/common/fiber/braid_err_fiber_stack_underflow.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/done_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/done_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -89 $FORTHKIT/lib/test/common/fiber/done_err_primary_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -81 $FORTHKIT/lib/test/common/fiber/f_at_err_fiber_stack_underflow.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -82 $FORTHKIT/lib/test/common/fiber/fiber_err_no_fibers_available.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -85 $FORTHKIT/lib/test/common/fiber/fr_from_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/fr_from_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -85 $FORTHKIT/lib/test/common/fiber/fip_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/fip_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/t_from_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/t_from_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -85 $FORTHKIT/lib/test/common/fiber/frp0_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/frp0_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -85 $FORTHKIT/lib/test/common/fiber/frp_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/frp_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -85 $FORTHKIT/lib/test/common/fiber/fsteps_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/fsteps_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -85 $FORTHKIT/lib/test/common/fiber/fstop_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/fstop_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -85 $FORTHKIT/lib/test/common/fiber/ftask_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/ftask_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -80 $FORTHKIT/lib/test/common/fiber/lay_err_fiber_stack_overflow.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/lay_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/start_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/tbase_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/tbase_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/tcontext_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/tcontext_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/tcurrent_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/tcurrent_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/tdp_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/tdp_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/tinterpret_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/tinterpret_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -85 $FORTHKIT/lib/test/common/fiber/to_fr_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -83 $FORTHKIT/lib/test/common/fiber/to_fr_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/to_t_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/to_t_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/tsp_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/tsp_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/tsp0_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/tsp0_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/tstate_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/tstate_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -87 $FORTHKIT/lib/test/common/fiber/ttop_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs -r -88 $FORTHKIT/lib/test/common/fiber/ttop_err_invalid_task_number.fs
# $FORTHKIT/scripts/check.sh ... $FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/.fs