$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_fiber_stack_underflow $FORTHKIT/lib/test/common/fiber/braid_err_fiber_stack_underflow.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/done_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_fiber_stack_underflow $FORTHKIT/lib/test/common/fiber/f_at_err_fiber_stack_underflow.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_fiber_not_allowed $FORTHKIT/lib/test/common/fiber/fr_from_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/fr_from_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_fiber_not_allowed $FORTHKIT/lib/test/common/fiber/fip_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/fip_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/t_from_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/t_from_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_fiber_not_allowed $FORTHKIT/lib/test/common/fiber/frp0_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/frp0_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_fiber_not_allowed $FORTHKIT/lib/test/common/fiber/frp_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/frp_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_fiber_not_allowed $FORTHKIT/lib/test/common/fiber/fsteps_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/fsteps_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_fiber_not_allowed $FORTHKIT/lib/test/common/fiber/fstop_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/fstop_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_fiber_not_allowed $FORTHKIT/lib/test/common/fiber/ftask_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/ftask_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_fiber_stack_overflow $FORTHKIT/lib/test/common/fiber/lay_err_fiber_stack_overflow.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/lay_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/start_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/tbase_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/tbase_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/tcontext_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/tcontext_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/tcurrent_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/tcurrent_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/tdp_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/tdp_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/tinterpret_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/tinterpret_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_fiber_not_allowed $FORTHKIT/lib/test/common/fiber/to_fr_err_active_fiber_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_fiber_number $FORTHKIT/lib/test/common/fiber/to_fr_err_invalid_fiber_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/to_t_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/to_t_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/tsp_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/tsp_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/tsp0_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/tsp0_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/tstate_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/tstate_err_invalid_task_number.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_active_task_not_allowed $FORTHKIT/lib/test/common/fiber/ttop_err_active_task_not_allowed.fs
$FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs -r err_invalid_task_number $FORTHKIT/lib/test/common/fiber/ttop_err_invalid_task_number.fs
# $FORTHKIT/scripts/check.sh ... $FORTHKIT/build/$FAMILY/$VARIANT_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/test/harness.fs $FORTHKIT/lib/test/common/fiber/.fs
