# -*- mode: sh; -*-

. $FORTHKIT/interpreters/config/c4.rc
. $FORTHKIT/interpreters/f83/defaults.rc

export CC=gcc
export MEMORY_MODEL=$FORTHKIT/address/relocatable.c
export EXECUTION_MODEL=$FORTHKIT/execution-models/sub.m4
export CFLAGS=-m32
export LDFLAGS=-lreadline
export EVALUATOR_IMAGE_LDFLAGS="-m elf_i386"
