# -*- mode: sh; -*-

export PREAMBLE=$FORTHKIT/interpreters/preamble.m4
export MEMORY_MODEL=$FORTHKIT/address/relocatable.c
export EXECUTION_MODEL=$FORTHKIT/execution-models/sub.m4
export EVALUATOR_PRIMITIVES=$FORTHKIT/interpreters/f79/primitives.m4
export COMPILED_WORDS=$FORTHKIT/interpreters/f79/compiled-words.m4
export CFLAGS=
export LDFLAGS=-lreadline
export CONFIG_H=$FORTHKIT/interpreters/config/c8-l1.h
