# -*- mode: sh; -*-

export FK_NAME=FORTH-79
export FK_DESCRIPTION="A very small configuration to test the fk command."

export FK_DEFINITIONS=" \
    $FORTHKIT/src/primitives/common/op/abort.h \
    $FORTHKIT/src/primitives/common/op/jump.h \
    $FORTHKIT/src/primitives/common/op/literal.h \
    $FORTHKIT/src/primitives/common/fk/reserve/reserve.h \
    $FORTHKIT/src/primitives/common/core/align.h \
    $FORTHKIT/src/primitives/common/core/begin.h \
    $FORTHKIT/src/primitives/common/core/else.h \
    $FORTHKIT/src/primitives/common/core/emit.h \
    $FORTHKIT/src/primitives/common/core/find.h \
    $FORTHKIT/src/primitives/common/core/if.h \
    $FORTHKIT/src/primitives/common/core/lshift.h \
    $FORTHKIT/src/primitives/common/core/repeat.h \
    $FORTHKIT/src/primitives/common/core/store_data.h \
    $FORTHKIT/src/primitives/common/core/swap.h \
    $FORTHKIT/src/primitives/common/core/then.h \
    $FORTHKIT/src/primitives/common/core/to_number.h \
    $FORTHKIT/src/primitives/common/core/while.h \
    $FORTHKIT/src/primitives/common/core/until.h \
    $FORTHKIT/src/primitives/common/core/variable.h \
    $FORTHKIT/src/primitives/f79/core/do.h \
    $FORTHKIT/src/primitives/f79/core/loop.h \
"

# words implemented directly in C
export FK_PRIMITIVES=" \
    $FORTHKIT/src/primitives/common/block/blk.c \
    $FORTHKIT/src/primitives/common/block/buffer.c \
    $FORTHKIT/src/primitives/common/block/empty-buffers.c \
    $FORTHKIT/src/primitives/common/block/read-block.c \
    $FORTHKIT/src/primitives/common/block/save-buffers.c \
    $FORTHKIT/src/primitives/common/block/scr.c \
    $FORTHKIT/src/primitives/common/block/update.c \
    $FORTHKIT/src/primitives/common/fk/reserve/reserve.c \
    $FORTHKIT/src/primitives/common/fk/reserve/top.c \
    $FORTHKIT/src/primitives/common/core/2divide.c \
    $FORTHKIT/src/primitives/common/core/2drop.c \
    $FORTHKIT/src/primitives/common/core/2dup.c \
    $FORTHKIT/src/primitives/common/core/2fetch.c \
    $FORTHKIT/src/primitives/common/core/2over.c \
    $FORTHKIT/src/primitives/common/core/2store.c \
    $FORTHKIT/src/primitives/common/core/2times.c \
    $FORTHKIT/src/primitives/common/core/abs.c \
    $FORTHKIT/src/primitives/common/core/align.c \
    $FORTHKIT/src/primitives/common/core/allot.c \
    $FORTHKIT/src/primitives/common/core/and.c \
    $FORTHKIT/src/primitives/common/core/base.c \
    $FORTHKIT/src/primitives/common/core/begin.c \
    $FORTHKIT/src/primitives/common/core/c_comma.c \
    $FORTHKIT/src/primitives/common/core/c_fetch.c \
    $FORTHKIT/src/primitives/common/core/c_move.c \
    $FORTHKIT/src/primitives/common/core/c_store.c \
    $FORTHKIT/src/primitives/common/core/compile.c \
    $FORTHKIT/src/primitives/common/core/constant.c \
    $FORTHKIT/src/primitives/common/core/context.c \
    $FORTHKIT/src/primitives/common/core/convert.c \
    $FORTHKIT/src/primitives/common/core/count.c \
    $FORTHKIT/src/primitives/common/core/cr.c \
    $FORTHKIT/src/primitives/common/core/create.c \
    $FORTHKIT/src/primitives/common/core/current.c \
    $FORTHKIT/src/primitives/common/core/d_lt.c \
    $FORTHKIT/src/primitives/common/core/d_plus.c \
    $FORTHKIT/src/primitives/common/core/dash_trailing.c \
    $FORTHKIT/src/primitives/common/core/decimal.c \
    $FORTHKIT/src/primitives/common/core/definitions.c \
    $FORTHKIT/src/primitives/common/core/depth.c \
    $FORTHKIT/src/primitives/common/core/dnegate.c \
    $FORTHKIT/src/primitives/common/core/do_does.c \
    $FORTHKIT/src/primitives/common/core/does.c \
    $FORTHKIT/src/primitives/common/core/dot_quote.c \
    $FORTHKIT/src/primitives/common/core/drop.c \
    $FORTHKIT/src/primitives/common/core/dup.c \
    $FORTHKIT/src/primitives/common/core/else.c \
    $FORTHKIT/src/primitives/common/core/emit.c \
    $FORTHKIT/src/primitives/common/core/eq.c \
    $FORTHKIT/src/primitives/common/core/execute.c \
    $FORTHKIT/src/primitives/common/core/fetch.c \
    $FORTHKIT/src/primitives/common/core/find.c \
    $FORTHKIT/src/primitives/common/core/forth.c \
    $FORTHKIT/src/primitives/common/core/gt.c \
    $FORTHKIT/src/primitives/common/core/here.c \
    $FORTHKIT/src/primitives/common/core/i.c \
    $FORTHKIT/src/primitives/common/core/if.c \
    $FORTHKIT/src/primitives/common/core/immediate.c \
    $FORTHKIT/src/primitives/common/core/j.c \
    $FORTHKIT/src/primitives/common/core/key.c \
    $FORTHKIT/src/primitives/common/core/left_bracket.c \
    $FORTHKIT/src/primitives/common/core/literal.c \
    $FORTHKIT/src/primitives/common/core/lshift.c \
    $FORTHKIT/src/primitives/common/core/lt.c \
    $FORTHKIT/src/primitives/common/core/max.c \
    $FORTHKIT/src/primitives/common/core/min.c \
    $FORTHKIT/src/primitives/common/core/minus.c \
    $FORTHKIT/src/primitives/common/core/mixed_unsigned_divide_mod.c \
    $FORTHKIT/src/primitives/common/core/move.c \
    $FORTHKIT/src/primitives/common/core/negate.c \
    $FORTHKIT/src/primitives/common/core/not_equals.c \
    $FORTHKIT/src/primitives/common/core/one_minus.c \
    $FORTHKIT/src/primitives/common/core/one_plus.c \
    $FORTHKIT/src/primitives/common/core/or.c \
    $FORTHKIT/src/primitives/common/core/over.c \
    $FORTHKIT/src/primitives/common/core/pad.c \
    $FORTHKIT/src/primitives/common/core/plus.c \
    $FORTHKIT/src/primitives/common/core/plus_store.c \
    $FORTHKIT/src/primitives/common/core/posix/readline/expect.c \
    $FORTHKIT/src/primitives/common/core/query_dup.c \
    $FORTHKIT/src/primitives/common/core/quit.c \
    $FORTHKIT/src/primitives/common/core/r_fetch.c \
    $FORTHKIT/src/primitives/common/core/r_from.c \
    $FORTHKIT/src/primitives/common/core/repeat.c \
    $FORTHKIT/src/primitives/common/core/right_bracket.c \
    $FORTHKIT/src/primitives/common/core/rot.c \
    $FORTHKIT/src/primitives/common/core/rshift.c \
    $FORTHKIT/src/primitives/common/core/state.c \
    $FORTHKIT/src/primitives/common/core/store.c \
    $FORTHKIT/src/primitives/common/core/store_compiled.c \
    $FORTHKIT/src/primitives/common/core/store_data.c \
    $FORTHKIT/src/primitives/common/core/swap.c \
    $FORTHKIT/src/primitives/common/core/symmetric_divide.c \
    $FORTHKIT/src/primitives/common/core/symmetric_divide_mod.c \
    $FORTHKIT/src/primitives/common/core/symmetric_mod.c \
    $FORTHKIT/src/primitives/common/core/symmetric_times_divide.c \
    $FORTHKIT/src/primitives/common/core/symmetric_times_divide_mod.c \
    $FORTHKIT/src/primitives/common/core/then.c \
    $FORTHKIT/src/primitives/common/core/times.c \
    $FORTHKIT/src/primitives/common/core/to_number.c \
    $FORTHKIT/src/primitives/common/core/to_r.c \
    $FORTHKIT/src/primitives/common/core/two_minus.c \
    $FORTHKIT/src/primitives/common/core/two_plus.c \
    $FORTHKIT/src/primitives/common/core/type.c \
    $FORTHKIT/src/primitives/common/core/u_div_mod.c \
    $FORTHKIT/src/primitives/common/core/u_lt.c \
    $FORTHKIT/src/primitives/common/core/u_times.c \
    $FORTHKIT/src/primitives/common/core/until.c \
    $FORTHKIT/src/primitives/common/core/variable.c \
    $FORTHKIT/src/primitives/common/core/while.c \
    $FORTHKIT/src/primitives/common/core/word.c \
    $FORTHKIT/src/primitives/common/core/xor.c \
    $FORTHKIT/src/primitives/common/core/zero_eq.c \
    $FORTHKIT/src/primitives/common/core/zero_gt.c \
    $FORTHKIT/src/primitives/common/core/zero_lt.c \
    $FORTHKIT/src/primitives/common/op/0branch.c \
    $FORTHKIT/src/primitives/common/op/abort.c \
    $FORTHKIT/src/primitives/common/op/does.c \
    $FORTHKIT/src/primitives/common/op/exit.c \
    $FORTHKIT/src/primitives/common/op/jump.c \
    $FORTHKIT/src/primitives/common/op/literal.c \
    $FORTHKIT/src/primitives/f79/core/colon.c \
    $FORTHKIT/src/primitives/f79/core/do.c \
    $FORTHKIT/src/primitives/f79/core/fill.c \
    $FORTHKIT/src/primitives/f79/core/leave.c \
    $FORTHKIT/src/primitives/f79/core/loop.c \
    $FORTHKIT/src/primitives/f79/core/not.c \
    $FORTHKIT/src/primitives/f79/core/plus_loop.c \
    $FORTHKIT/src/primitives/f79/core/semicolon.c \
    $FORTHKIT/src/primitives/f79/core_ext/pick.c \
    $FORTHKIT/src/primitives/f79/core_ext/roll.c \
    $FORTHKIT/src/primitives/f79/op/do.c \
    $FORTHKIT/src/primitives/f79/op/loop.c \
    $FORTHKIT/src/primitives/f79/op/plus_loop.c \
"

# words compiled using C macros
export FK_COMPILED_WORDS=$FORTHKIT/src/compiled/core/interpret.c

# words compiled from source using the evaluator
export FK_LIBRARY_WORDS=" \
    $FORTHKIT/src/lib/common/block/block.fs \
    $FORTHKIT/src/lib/common/block/list.fs \
    $FORTHKIT/src/lib/common/block/load.fs \
    $FORTHKIT/src/lib/common/core/abort.fs \
    $FORTHKIT/src/lib/common/core/bl.fs \
    $FORTHKIT/src/lib/common/core/bracket_char.fs \
    $FORTHKIT/src/lib/common/core/char.fs \
    $FORTHKIT/src/lib/common/core/numeric_output.fs \
    $FORTHKIT/src/lib/common/core/query.fs \
    $FORTHKIT/src/lib/common/core/question_mark.fs \
    $FORTHKIT/src/lib/common/core/space.fs \
    $FORTHKIT/src/lib/common/core/spaces.fs \
    $FORTHKIT/src/lib/common/core/text_input.fs \
    $FORTHKIT/src/lib/f79/79-standard.fs \
    $FORTHKIT/src/lib/f79/bracket_compile.fs \
    $FORTHKIT/src/lib/f79/bracket_tick.fs \
    $FORTHKIT/src/lib/f79/find.fs \
    $FORTHKIT/src/lib/f79/forget.fs \
    $FORTHKIT/src/lib/f79/tick.fs \
"
