$FORTHKIT/build/$FAMILY/$VERSION_TAG/bin/$INTERPRETER -q $FORTHKIT/lib/common/core/abort.fs $FORTHKIT/lib/common/core/text_input.fs $FORTHKIT/lib/common/core/find.fs $FORTHKIT/lib/common/core/tick.fs $FORTHKIT/lib/test/harness.fs -r err_fiber_stack_overflow -f 8 -F 4 $FORTHKIT/lib/test/common/fiber/start_err_fiber_stack_overflow.fs
